body {
    background:#1c1b1a;
    margin:0px;
    padding:0px;
    background:url("../imgs/bg_m.png");
}

@font-face {
    font-family: 'FuturaSB-Book';
    src: url('../fonts/FuturaSB-Book.eot?') format('eot'), 
         url('../fonts/FuturaSB-Book.woff') format('woff'), 
         url('../fonts/FuturaSB-Book.ttf') format('truetype');
}


#button a {
    color:white;
    text-decoration:none;
}
.clear{
	clear: both;
}

#header{
    margin-top: -70px;
}

/* ====================
   Mobile Only CSS
   ==================*/


/* iPads Pixel ratio: 1 (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) {
    body { 

	}
	#button {
        font-family: 'FuturaSB-Book';
        padding:35px;
        width:30%;
        font-size:1.4em;
        text-shadow: 1px 1px #000000;
        text-align:center;
        background: #343231;
        margin-left:auto;
        margin-right:auto;
        margin-top:60px;
        margin-bottom:60px;
    }
    #header {
        float:left;
        display:block;
        padding:0px;
        width:100%;
        margin-bottom:20px;
    }
    #header img{
        width:20%;
	}
    
	#content {
        font-family:'FuturaSB-Book';
        font-size:1.0em;
        width:80%;
        color:white;
        margin-left:auto;
        margin-right:auto;
    }
    #player {
        display:block;
    	width: 80%;
    	height:40%;
    	margin-left:auto;
        margin-right:auto;
        margin-bottom:20px;

    }
    
}
/* iPads Retina:(portrait and landscape) ----------- */

@media only screen  and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2){
    #player {
        height: 460px;
    }
    
    #container{
        width:100%;
    }
    
    #content{
        height: 300px;
    }
    
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
        height: 430px;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
        height: 100%;
    }
    
    
	#button {
	    position: relative;
	    top: -170px;
	}
}

/* ????? */

@media screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    #player {
        height: 340px;
    }
    
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0;
        width: 100%;
    }
    
    
    #header{
        display: block;
    }
    
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width : 321px) and (max-device-width : 480px) {
    body {
        overflow:hidden;
    }
    #container {
        width:100%;
        height:100%;
    }
    #player {
        display:block;
        width:100%;
        height:100%;
    }
    
    #button{
            font-family: 'FuturaSB-Book';
            padding:15px;
            width:50%;
            font-size:1.4em;
            text-shadow: 1px 1px #000000;
            text-align:center;
            background: #343231;
            margin: 0 auto;
            margin-bottom: 20px;
     }

    #player{
        height: 180px;
        width: 80%;
        margin-left: 12%;
    }
    
    #header{
        display: block;
    }
    
    #header img{
        width: 100px;
    }
    
    #content{
        display: block;
        margin: 20px 0;
        margin-left: 12%;
        color: #fff;
        font-family: 'FuturaSB-Book';
        font-size: 1.0em;
        width: 80%;
    }    
    
    .video-container {
        width: 100%;
        height: 430px;
        padding-bottom: 20px;
    }
    
    #container{
        padding-bottom: 20px;
        height: 100%;
    }
        
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	body{
		width: 320px;
	}
    #button {
        font-family: 'FuturaSB-Book';
        padding:15px;
        width:70%;
        font-size:1.4em;
        text-shadow: 1px 1px #000000;
        text-align:center;
        background: #343231;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:30px;
    }	
	#content {
        font-family:'FuturaSB-Book';
        font-size:1.2em;
        color:white;
        width:90%;
        padding-top:20px;
        padding-bottom:20px;
        margin-left:auto;
        margin-right:auto;
    }
    #player {
    	width: 100%;
    	height:180px;
    	margin-left:auto;
        margin-right:auto;

    }
    #header {
        float:left;
        left:0px;
        padding:0px;
        max-width:100%;
        margin-bottom:20px;
        display: block;

    }

	#header img{
	    width:35%;

	}

    
    #container{
        padding-bottom: 20px;
    }
    
}

