/* ====================
   Desktop View CSS
   ==================*/

@font-face {
 font-family: 'FuturaSB-Book';
 src: url('../fonts/FuturaSB-Book.eot?') format('eot'), url('../fonts/FuturaSB-Book.woff') format('woff'), url('../fonts/FuturaSB-Book.ttf') format('truetype');
}
   
body {
    overflow:hidden;
    padding:0px;
    margin:0px;
    background:black;
    font-family:Arial,Helvetica;
}

#link-container {
    font-size:16px;
    text-shadow: 1px 1px #000000;;
    font-family: 'FuturaSB-Book';
    position:absolute;
    color:white;
    bottom:30px;
    font-weight:bold;
    cursor:pointer;
}

#post-player {
   position:absolute;
   padding:20px;
   text-align:center;
   font-size:30px;
   font-weight:bold;
   width:300px;
   color:#b3b3b3;
   height:200px;
   background:#292929;
}

#loader {
    font-weight:bold;
    font-size:11px;
    width:80px;
    text-align:center;
    color:#525252;
    position:absolute;
}

#video-container {
    position:absolute;
    opacity:0;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}

#player {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}