
/* ====================
   Mobile View CSS
   ==================*/

body {
    background:#1c1b1a;
    margin:0px;
    padding:0px;
}

.page {
    font-weight:bold;
    color:white;
    text-align:center;
    cursor:pointer;
    margin-top:100px;
    background:#252525;
    font-family:Arial;
    font-size:50px;
    height:100px;
    width:100%;
}

#header {
    position:absolute;
    top:0px;
    left:0px;
    padding:0px;
}
#content img {
    position:absolute;
    width:400px;
    bottom:60px;
}


#player {
    
    position:absolute;
    top:0px;
}
#header img {
    width:200px;
}

#container {
    width:100%;
}