
/* ====================
   Mobile View CSS
   ==================*/

body {
    background:#1c1b1a;
    margin:0px;
    padding:0px;
}

.page {
    font-weight:bold;
    color:white;
    text-align:center;
    cursor:pointer;
    margin-top:100px;
    background:#252525;
    font-family:Arial;
    font-size:50px;
    height:100px;
    width:100%;
}

#header {
    position:absolute;
    border:1px solid red;
    top:0px;
    left:0px;
    padding:0px;
    width:100%
}

#content img {
    position:absolute;
    width:60%;
    border:1px solid red;
    bottom:10%;
}


#player {
    border:1px solid yellow;
    position:absolute;
    top:0px;
}
#header img {
    width:30%;
}

#content {

}