/* ====================
   Desktop View CSS
   ==================*/

@font-face {
 font-family: 'FuturaSB-Book';
 src: url('../fonts/FuturaSB-Book.eot?') format('eot'), 
      url('../fonts/FuturaSB-Book.woff') format('woff'), 
      url('../fonts/FuturaSB-Book.ttf') format('truetype');
}
   
body {
    overflow:hidden;
    padding:0px;
    margin:0px;
    background:black;
}

#container {
    height:100%;
    width:100%;
}

#link-container {
    font-size:16px;
    text-shadow: 1px 1px #000000;
    font-family: 'FuturaSB-Book';
    position:absolute;
    width:400px;
    text-align:center;
    color:white;
    font-weight:bold;
    cursor:pointer;
    z-index:10000;
}

#link-container:hover {
    color:#e4e4e4;
}

#link-container:active {
    color:white;
    text-shadow: 0px 0px #000000;
}
#post-player {
   position:absolute;
   padding:20px;
   text-align:center;
   font-size:30px;
   font-weight:bold;
   width:300px;
   color:#b3b3b3;
   height:200px;
   background:#292929;
}

#loader {
    font-family: 'FuturaSB-Book';
    font-size:14px;
    text-align:center;
    color:#525252;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -40px;
    margin-top: -40px;
}

#video-container {
/*    visibility:hidden;*/
    position:absolute;
    top:0;
    left:0;
    z-index:998;
}

#transparent {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width:100%;
    height:100%;
    background:red;
    z-index:1000;
    filter:alpha(opacity=0); /* For IE8 and earlier */
}
#player {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
}

#oldBrowser a{
    color: #fff !important;
}

#oldBrowser{
    position: absolute;
    text-align: center;
    background: #ab3636;
    top: 43%;
    left: 15%;
    color: #fff;
    border:3px solid #a01a1a;
    width: 66%;
    margin: 0 auto;
    padding: 2%;
}